* {
    box-sizing: border-box;
 }
 
 

.mb  {
   color: white;
   font-weight: 300;
   letter-spacing: 2px;
   text-decoration: none;
   background: #34abeb;
   padding: 20px 5px;
   display: inline-block;
   width: 100%;
   text-align: center;
}

.mb:hover {
   background: rgba(52, 171, 235, 0.75);
}


.main {
   max-width: 3840px;
   margin: 0 auto;
}

.navigation ul {
   border: 1px solid #34abeb;
   list-style: none;
   margin: 0;
   padding: 0;
   display: flex;
}

.navigation li {
   flex: 1;    
}

.navigation .user {
   flex: 1;
}



@media all and (max-width: 1080px) {
   .navigation li {
      flex-basis: 100%;
   }

   .navigation .user {
      flex-basis: 50%;
   }
}

body { 
    font-family: 'Fira Sans', sans-serif;

}
 
h1 {
    font-family: 'Fira Sans', sans-serif;
    margin: 0.5;
    margin-left: 15px;
    font-size: 36pt;
    font-style: inherit;
}

h2 {
   font-family: 'Fira Sans', sans-serif;
   margin: 0.5;
   margin-left: 15px;
   font-size: 24pt;
   font-style: inherit;
}
.description {
    font-family: 'Fira Sans', sans-serif;
    margin: 0.5;
    margin-left: 15px;
    font-size: 15pt;

}

h3 {
   font-family: 'Fira Sans', sans-serif;
   margin: 0.5;
   margin-left: 15px;
   font-size: 18pt;
   font-style: inherit;
}

.dropbtn  {
    list-style-type: none;
    color: black;
    letter-spacing: 2px;
    display: inline-block;   
    text-align: left;
    
}

.button {
   color: black;
}

.button:hover {
   background: rgba(52, 171, 235, .75);
}

.dropdown ul {
   border: 1px solid #34abeb;
   list-style-type: none;
   background: #c0dded;
   margin: 15px;
   padding: 10px;
   flex-direction: column;
}

/* CSS FLEX TESTING BELOW */

.main-head {
   grid-area: header;
 }
 .content {
   grid-area: content;
 }
 .main-nav {
   grid-area: nav;
 }
 .side {
   grid-area: sidebar;
 }
 .ad {
   grid-area: ad;
 }
 .main-footer {
   grid-area: footer;
 }


 .wrapper {
   display: grid;
   grid-template-columns: 1fr 4fr 1fr;
   grid-template-areas:
     "header header  header"
     "nav    content sidebar"
     "nav    content ad"
     "footer footer  footer"
  }
  nav ul {
    flex-direction: flex-start;
  }



